<div class="row">
    <div *ngIf="customer$ | async as customer" class="col-8 offset-2">
        <form #customerForm="ngForm" (ngSubmit)="onUpdate(customerForm, customer)">
            <input [(ngModel)]="customer['id']" type="hidden" name="id">
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input name="firstName" id="firstname" [(ngModel)]="customer['firstName']"
                type="text" class="form-control"
                required pattern="^[A-Z][a-z]*$">
                <div [hidden]="customerForm.controls['firstName'].valid" class="error-message">
                  Please use only letters.
              </div>
            </div>
            <div class="form-group">
              <label for="lastname">Lastname</label>
                <input name="lastName" id="lastname" [(ngModel)]="customer['lastName']"
                type="text"  class="form-control"
                required pattern="^[A-Z][a-z]*$">
                <div [hidden]="customerForm.controls['lastName'].valid" class="error-message">
                    Please use only letters.
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" id="email" [(ngModel)]="customer['email']"
                type="email" email class="form-control"
                required>
                <div [hidden]="customerForm.controls['email'].valid" class="error-message">
                    Please use this sample: aaaaa@aaa or aaaaa@aaa.aa
                </div>
            </div>
            <div class="form-group">
                <label for="">Address</label>
                <label for="zip">zip</label>
                <input name="zip" id="zip" [(ngModel)]="customer.address.zip"
                type="text"  class="form-control"
                required pattern="^[0-9]{1,5}$">
                <div [hidden]="customerForm.controls['zip'].valid" class="error-message">
                    Please use only numbers.
                </div>
                <label for="country">country</label>
                <input name="country" id="country" [(ngModel)]="customer.address.country"
                type="text"  class="form-control"
                required pattern="^[A-Z][a-z]*$">
                <div [hidden]="customerForm.controls['country'].valid" class="error-message">
                    Please use only letters.
                </div>
                <label for="city">city</label>
                <input name="city" id="city" [(ngModel)]="customer.address.city"
                type="text"  class="form-control"
                required pattern="^[A-Z][a-z]*$">
                <div [hidden]="customerForm.controls['city'].valid" class="error-message">
                    Please use only letters.
                </div>
                <label for="street">street</label>
                <input name="street" id="street" [(ngModel)]="customer.address.street"
                type="text"  class="form-control"
                required pattern="^[A-Z][a-z]*$">
                <div [hidden]="customerForm.controls['street'].valid" class="error-message">
                    Please use only letters.
                </div>
                <label for="notes">notes</label>
                <input name="notes" id="notes" [(ngModel)]="customer.address.notes"
                type="text"  class="form-control">
            </div>
            <div class="form-group">
                <label for="active">Active</label>
                <input name="active" id="active" [(ngModel)]="customer['active']"
                type="checkbox"  class="form-control">
            </div>
            <button [disabled]="customerForm.invalid" type="submit"
            class="btn btn-primary btn-block btn-lg">
                <i class="fa fa-save"></i>
            </button>
        </form>
    </div>

</div>
