<div class="row">
    <div *ngIf="(product$ | async) as product" class="col-10 col-md-4 offset-1 offset-md-4">
        <form #productForm="ngForm" (ngSubmit)="onUpdate(productForm, product)">
            <div class="form-group">
                <input [(ngModel)]="product['id']" type="hidden" name="id" class="user-select-none">
            </div>
            <div>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Name</mat-label>
                    <input matInput name="name" id="name" [(ngModel)]="product['name']"
                    required pattern="^[A-Za-z]{3,}[ ]?[-]?[ ]?.*$">
                </mat-form-field>
                <div [hidden]="productForm.controls['name'].valid" class="error-message text-danger">
                    The name of the product must be min. 3 chars.
                </div>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Type</mat-label>
                    <input matInput name="type" id="type" [(ngModel)]="product['type']"
                    required pattern="^.{4,40}$">
                </mat-form-field>
                <div [hidden]="productForm.controls['type'].valid" class="error-message  text-danger">
                    The type of the product must be min. 4, max 40 chars.
                </div>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Select one option</mat-label>
                    <select matNativeControl [(ngModel)]="product['catID']" name="catID" required>
                        <option value="" selected></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </mat-form-field>
                <div [hidden]="productForm.controls['catID'].valid" class="error-message text-danger">
                    Please, select one option.
                </div>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Description</mat-label>
                    <textarea matInput name="description" id="description" [(ngModel)]="product['description']"
                    required pattern="^.{10,300}$"></textarea>
                </mat-form-field> 
                <div [hidden]="productForm.controls['description'].valid" class="error-message text-danger">
                    The description of the product must be min. 10 chars.
                </div>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Price</mat-label>
                    <input matInput name="price" id="price" [(ngModel)]="product['price']"
                    required pattern="^[0-9]*$">
                </mat-form-field> 
                <div [hidden]="productForm.controls['price'].valid" class="error-message text-danger">
                    Please, use only numbers.
                </div>
            </div>
            <div>
                <mat-slide-toggle class="example-full-width mb-3" name="featured" [(ngModel)]="product['featured']"
                    [labelPosition]="'before'">
                    Featured
                </mat-slide-toggle>
            </div>

            <div>
                <mat-slide-toggle class="example-full-width mb-3" name="active" [(ngModel)]="product['active']"
                    [labelPosition]="'before'">
                    Active
                </mat-slide-toggle>
            </div>

            <button type="submit" mat-raised-button color="primary" class="btn btn-block btn-lg">
                <i class="fa fa-save"></i>
            </button>

        </form>
    </div>
</div>