<br />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1><strong>Dashboard</strong></h1>
      <h2>Overview</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <app-chart-spinner
        [itemName]="'active products'"
        [color]="'info'"
        [dataPair]="activeProductsDataPair$ | async"
      ></app-chart-spinner>
    </div>
    <div class="col-md-3">
      <app-chart-spinner
        [itemName]="'active customers'"
        [color]="'info'"
        [dataPair]="activeCustomersDataPair$ | async"
      ></app-chart-spinner>
    </div>
    <div class="col-md-3">
      <app-chart-spinner
        [itemName]="'unpaid orders'"
        [color]="'warning'"
        [dataPair]="unpaidOrderDataPair$ | async"
      ></app-chart-spinner>
    </div>
    <div class="col-md-3">
      <app-chart-spinner
        [itemName]="'&sum; of unpaid bills'"
        [color]="'warning'"
      ></app-chart-spinner>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <h2>Details</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-chart-pie
        [ordinal]="1"
        [caption]="'orders by status'"
        [dataObject]="ordersByStatus$ | async"
      ></app-chart-pie>
    </div>
    <div class="col-md-6">
      <app-chart-pie></app-chart-pie>
    </div>
  </div>
</div>
