<p>{{ stat | json }}</p>
<p>xx {{ stat['products'] | json }}</p>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1><strong>Dashboard</strong></h1>
      <h2>Overview</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <app-chart-spinner
        [itemName]="'active products'"
        [color]="'info'"
        [activeItems]="getStatFor('products', 'activeItems')"
        [inactiveItems]="getStatFor('products', 'inactiveItems')"
      ></app-chart-spinner>
    </div>
    <!-- <div class="col-md-3">
      <app-chart-spinner
        [itemName]="'active customers'"
        [color]="'info'"
        [activeItems]="results['customers'].activeItems"
        [inactiveItems]="results['customers'].inactiveItems"
      ></app-chart-spinner>
    </div> -->
    <!-- <div class="col-md-3">
      <app-chart-spinner
        [itemName]="'unpaid orders'"
        [color]="'warning'"
        [activeItems]="results['orders'].quantitiesByStatus.new"
        [inactiveItems]="
          results['orders'].quantitiesByStatus.paid +
          results['orders'].quantitiesByStatus.shipped
        "
      ></app-chart-spinner>
    </div> -->
     <!----
    <div class="col-md-3">
      <app-chart-spinner
        [itemName]="'&sum; of unpaid bills'"
        [color]="'warning'"
        [unit]="' Ft'"
        [activeItems]="stats['bills'].amountsByStatus.new"
        [inactiveItems]="stats['bills'].amountsByStatus.paid"
      ></app-chart-spinner>
    </div> -->
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <h2>Details</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-chart-pie
        [chartdata]="InitialChartData"
        [statistics]="stat['orders']"
      ></app-chart-pie>
    </div>
    <div class="col-md-6">
      <app-chart-pie
        [chartdata]="InitialChartData"
        [statistics]="stat['bills']"
      ></app-chart-pie>
    </div>
  </div>
</div>
