<div>
  <button type="button" class="btn btn-success btn-block" [routerLink]="['/', 'bill', 0 ]">Add new bill</button>
</div>
<div class="row">
  <div class="col-12">

    <table class="table">
      <thead>
        <tr>
          <th class="extra_thin" (click)="onSort('id')">
            <div class="th_center">
              <i *ngIf="sorterKey === 'id' && sorterDirection === 1" class="fa fa-sort-alpha-asc mr-2"></i>
              <i *ngIf="sorterKey === 'id' && sorterDirection === -1" class="fa fa-sort-alpha-desc mr-2"></i>
              <span>#</span>
            </div>
          </th>
          <th class="extra_thin" (click)="onSort('orderID')">
            <div class="th_center">
              <i *ngIf="sorterKey === 'orderID' && sorterDirection === 1" class="fa fa-sort-alpha-asc mr-2"></i>
              <i *ngIf="sorterKey === 'orderID' && sorterDirection === -1" class="fa fa-sort-alpha-desc mr-2"></i>
              <span>OrderID</span>
            </div>
          </th>
          <th class="extra_thin" (click)="onSort('amount')">
            <div class="th_center">
              <i *ngIf="sorterKey === 'amount' && sorterDirection === 1" class="fa fa-sort-alpha-asc mr-2"></i>
              <i *ngIf="sorterKey === 'amount' && sorterDirection === -1" class="fa fa-sort-alpha-desc mr-2"></i>
              <span>Amount</span>
            </div>
          </th>
          <th class="extra_thin" (click)="onSort('status')">
            <div class="th_center">
              <i *ngIf="sorterKey === 'status' && sorterDirection === 1" class="fa fa-sort-alpha-asc mr-2"></i>
              <i *ngIf="sorterKey === 'status' && sorterDirection === -1" class="fa fa-sort-alpha-desc mr-2"></i>
              <span>Status</span>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bill of bills$ | async | sorter: sorterKey : sorterDirection">
          <td>{{ bill.id }}</td>
          <td>{{ bill.orderID }}</td>
          <td>{{ bill.amount }}</td>
          <td>{{ bill.status }}</td>
          <td>
              <button [routerLink]="['/', 'bill', bill.id]" type="button" class="btn btn-info"><i class="fa fa-pencil"
                  aria-hidden="true"></i></button>
              <button (click)="onDelete(bill)" type="button" class="btn btn-danger"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
