<div>
  <button type="button" mat-raised-button color="primary" class="btn btn-block" [routerLink]="['/', 'bill', 0 ]">Add new bill</button>
</div>

<div class="search bg-light border rounded w-100 p-3 my-5 d-flex flex-md-row flex-column align-items-center">
  <span class="font-weight-bold text-uppercase text-center col-md-2 pt-2 ml-md-5">Search by:</span>
  <select class="form-control border col-3" [(ngModel)]="filterKey">
    <option *ngFor="let key of filterKeys" [value]="[key]">{{key}}</option>
  </select>
  <input [(ngModel)]="phrase" class="filter-search border rounded col-5 mx-3" type="text" placeholder="Search...">
</div>

<div><h1>Bills</h1></div>

<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="extra_thin" (click)="onSort('id')">
            <div class="th_center">
              <i *ngIf="sorterKey === 'id' && sorterDirection === 1" class="fa fa-sort-alpha-asc mr-2"></i>
              <i *ngIf="sorterKey === 'id' && sorterDirection === -1" class="fa fa-sort-alpha-desc mr-2"></i>
              <span>#</span>
            </div>
          </th>
          <th class="extra_thin" (click)="onSort('orderID')">
            <div class="th_center">
              <i *ngIf="sorterKey === 'orderID' && sorterDirection === 1" class="fa fa-sort-alpha-asc mr-2"></i>
              <i *ngIf="sorterKey === 'orderID' && sorterDirection === -1" class="fa fa-sort-alpha-desc mr-2"></i>
              <span>OrderID</span>
            </div>
          </th>
          <th class="extra_thin" (click)="onSort('amount')">
            <div class="th_center">
              <i *ngIf="sorterKey === 'amount' && sorterDirection === 1" class="fa fa-sort-alpha-asc mr-2"></i>
              <i *ngIf="sorterKey === 'amount' && sorterDirection === -1" class="fa fa-sort-alpha-desc mr-2"></i>
              <span>Amount</span>
            </div>
          </th>
          <th class="extra_thin" (click)="onSort('status')">
            <div class="th_center">
              <i *ngIf="sorterKey === 'status' && sorterDirection === 1" class="fa fa-sort-alpha-asc mr-2"></i>
              <i *ngIf="sorterKey === 'status' && sorterDirection === -1" class="fa fa-sort-alpha-desc mr-2"></i>
              <span>Status</span>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bill of bills$ | async | filter: phrase : filterKey | sorter: sorterKey : sorterDirection">
          <td>{{ bill.id }}</td>
          <td>{{ bill.orderID }}</td>
          <td>{{ bill.amount }}</td>
          <td>{{ bill.status }}</td>
          <td>
              <button [routerLink]="['/', 'bill', bill.id]" type="button"
              mat-raised-button color="primary"
              class="btn"><i class="fa fa-pencil"
                  aria-hidden="true"></i></button>
              <button (click)="onDelete(bill)" type="button"
              mat-raised-button color="warn"
              class="btn"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>
          </td>
        </tr>

        <tr *ngIf="bills$ | async | filter: phrase : filterKey as bills">
          <td colspan="2">Number of row: {{ bills.length }}</td>
          <td>Total amount: {{ bills | sum:'amount'}} </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="isLoading">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate" class="mx-auto my-auto">
      </mat-progress-spinner>
    </div>
  </div>
</div>

